/.dockerignore
/.idea/.idea.Core8Auth/.idea/.gitignore
/Core8Auth.sln
/.idea/.idea.Core8Auth/.idea/encodings.xml
/global.json

/AuthAndLogin/bin/*
/AuthAndLogin/obj/*
/Repository/bin/*
/Repository/obj/*
/.idea/*
