/.dockerignore
/.idea/.idea.Core8Auth/.idea/.gitignore
/Core8Auth.sln
/.idea/.idea.Core8Auth/.idea/encodings.xml
/global.json
/.idea/.idea.Core8Auth.dir/.idea/.gitignore
/.idea/.idea.Core8Auth.dir/.idea/aws.xml
/.idea/.idea.Core8Auth.dir/.idea/encodings.xml
/.idea/.idea.Core8Auth.dir/.idea/indexLayout.xml
/.idea/.idea.Core8Auth.dir/.idea/vcs.xml
